// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.container {
  margin-top: 80px;
}

.course-body {
  padding-top: 10px;
  margin: 0 auto;
  float: none;
  width: 70%;
}

.course-link {
  margin-top: 50px;
}


