// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.container {
  margin-top: 80px;
}

.course-body {
  padding-top: 10px;
  margin: 0 auto;
  float: none;
  width: 70%;
}

.course-link{
  padding: 30px;
}

.course-content-students {
  padding: 30px;
}

.course-content-body {
  padding: 10px;
  margin: 0 auto;
  float: none;
  width: 70%;
  p {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

}

.course-students {
  margin-bottom: 40px;
}
