<h1>Your Courses</h1>
<% @courses.each do |course| %>
  <div class='course-body'>
    <h3><%= course.name %></h3>
    <p><%= course.description %></p>
    <p><%= video_tag course.video, :size => "320x240", :controls => true   %></p>
  </div>
<% end %>

<% if !current_publisher.nil? %>
<%= link_to 'Add new course', new_course_path %>
<% end %>
