<div class="container text-center">
  <h1>Your Courses</h1>

  <% @courses.each do |course| %>

    <div class='course-body'>
      <% if !current_publisher.nil? %>
      <h3>Course: <%= link_to course.name, course_content_path(publisher_id: course.publisher_id,course_slug: course.slug) %></h3>
      <% elsif !current_student.nil? %>
      <h3>Course: <%= link_to course.name, student_course_contents_path(publisher_id: course.publisher_id,course_slug: course.slug) %></h3>
      <% end %>
      <p>Description: <%= course.description %></p>
    </div>
  <% end %>

</div>
