<div class="container text-center">
  <h1>Your Courses</h1>
  <% @courses.each do |course| %>
    <div class='course-body'>
      <h3>Course: <%= link_to course.name, publisher_course_contents_path(course_id: course.id) %></h3>
      <p>Description: <%= course.description %></p>
    </div>
  <% end %>

  <% if !current_publisher.nil? %>
  <%= link_to 'Add new course', new_publisher_course_path, class: "btn btn-primary" %>
  <% end %>
</div>
